body{
    min-height: 95vh;
    background: #000408;
    background-size: cover;
    font-family: sans-serif;
    height: 95vh;
    margin: 0;
    padding: 0;
    background: url(https://wallpapercave.com/wp/wp1945939.jpg);
  }
form {
    width: 330px;
    height: 450px;
    border-radius: 20px;
    background: #070707;
    color: #b5abab;
    top: 60%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 60px 30px;
    font-family:sans-serif;
    text-align: center;
}
button {
    border: none;
    outline: none;
    height: 45px;
    background: #3dc272;  /*fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4e8ecd, #3dc272);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4e8ecd, #3dc272); /* Edge, Chrome 26+, Safari 7+ */
    color: #f0eded;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
    padding: 12px;
    width: 250px;
}

input {
    font-size:14pt;
    width: 250px;
    height: 30px;
}
.SignUp-box .icon {
    width: 80px;
    height: 70px;
    border: 50%;
    position: absolute;
    top: 5px;
    left: calc(50% - 50px);
}

a[routerLink="/signin"] {
    color: #dd3a0c; 
    text-decoration: underline;
}