<body>
    <form>
        <div class="card">
        <div class="form-container">
        <div class='form-title'>login</div>
        <div class="input first">
          <label for="email"><b>email</b></label>
          <input id="email">
        </div>
        <div class="input">
            <label class="title" for="password"><b>password</b></label>
            <input id="password">
        </div>
        <div class="info">forgot your password</div>
    </div>
    <div class="button-bar">
      <button class="button register">register</button>
      <button class="button sign-in">sign in</button>
    </div>
    </div>
      </form> 
    </body>
