<html>
  <body>
    <div class="SignIn-box">
      <img class="icon" src="https://pbs.twimg.com/profile_images/1611299295449473025/ilqO3aFZ_400x400.jpg" alt="Logo">
      <h1>Sign In Here</h1>
    
    <form>
      <label for="username">Username</label> <!--USERNAME-->
      <input type="text" placeholder="Enter Username">

      <label for="password">Password</label> <!--PASSWORD-->
      <input type="password" placeholder="Enter Password">
      
      <form>
      <input type="submit" value="Sign In" />
      </form>

      <a href="#">Forgot your password?</a><br>
      <a href="#">Don't have an account?</a>
    </form>
    </div>
  </body>
</html>