<app-navbar></app-navbar>
<nav>
  <h1>Silver Screen</h1><br><br>
  <a routerLink="/home" class="nav-link" >Home</a><b></b>
  <a routerLink="/movies" class="nav-link" >Movies</a><b></b>
  <a routerLink="/favorites" class="nav-link" >Random Movies</a><b></b>
  <a routerLink="/create-review" class="nav-link" >Create Review</a><b></b>
  <a routerLink="/movie-list" class="nav-link" >Saved Movies</a><b></b>
  <a routerLink="/review-list" class="nav-link" >Reviews</a><b></b>
  <a routerLink="/signup" class="nav-link" >Sign Up</a><b></b>
  <a routerLink="/signin" class="nav-link" >Sign In</a><b></b>
  <a routerLink="/about-us" class="nav-link" >About Us</a><b></b>
</nav>
<router-outlet></router-outlet>
