<body>
<div class="about-container">
    <h1>About Us</h1>
  
    <div class="profile-card">
        <img src="assets/images/abigail.jpg" alt="Abigail's Profile Image" class="profile-image">
      <div class="profile-details">
        <h2>Abigail Tarpley</h2>
        <p>Hi there! I am 27 (almost 28) years old, I'm from Oklahoma. I was a full time missionary in YWAM Circuit Riders for the last 8 years until God called me home. I have a passion for people, for tech, and I am happy to be here! Thank you for being apart of our website presentation!</p> <!--there was an error when doing @gmail, the error code told me to do "&#64 and that the end needed to have a ;" --> 
      </div>
    </div>
  
    <div class="profile-card">
      <img src="assets/images/mariya.jpg" alt="Mariya's Profile Image" class="profile-image">
      <div class="profile-details">
        <h2>Mariya Shvaya</h2>
        <p>I’m 34 years old, a full-time single mom of two precious kids. I work as a dispatcher 
          and aspire to create a better life for us. My interest in technology, combined with prayer and
           divine guidance, led me to decide to attend Bethel School. I’m eagerly looking forward to a future in the technology field!
        </p>
      </div>
    </div>
  
    <div class="profile-card">
        <img src="assets/images/alvin.jpg" alt="Alvin's Profile Image" class="profile-image">
        <div class="profile-details">
          <h2>Alvin Eberhardt</h2>
          <p>Hi, I'm Alvin and I am 40 years old. I decided to join Bethel Tech and the Full Stack Program because I've been at my job for 20 years 
            and I wanted a career change into Tech. I thought that by making this change it would give me a better chance to provide for my family and a way to travel and see the world.
          </p>
        </div>
      </div>
    
    
      <div class="profile-card">
        <img src="assets/images/sean.jpg" alt="Sean's Profile Image" class="profile-image">
        <div class="profile-details">
          <h2>Sean Nance</h2>
          <p>Hey guys and gals! My name is Sean. I'm a machinist by day, a coder by night and a well rounded kind of guy. 
            I love to go fishing, shooting, and really anything outdoors when I'm not coding or spending time with my wife. 
            Jesus is the center of my world. I mostly code in C# with some Angular and Javascript.
          </p>
        </div>
      </div>
    
      <div class="profile-card">
        <img src="assets/images/clint.jpg" alt="Clint's Profile Image" class="profile-image">
        <div class="profile-details">
          <h2>Clint Hanna</h2>
          <p>Is a software developer, martial artist and award-winning filmmaker. Clint studied theatre and film at Stephen F. 
            Austin State University. It is believed 84% of his body is made of movies.
          </p>
        </div>
      </div>

  </div>
</body>