
<div class="about-container">
    <h1>About Us</h1>
  
    <div class="profile-card">
        <img src="assets/images/abigail.jpg" alt="Abigail's Profile Image" class="profile-image">
      <div class="profile-details">
        <h2>Abigail Tarpley</h2>
        <p>Email: abigailtarpley&#64;gmail.com</p> <!--there was an error when doing @gmail, the error code told me to do "&#64 and that the end needed to have a ;" --> 
      </div>
    </div>
  
    <div class="profile-card">
      <img src="assets/images/mariya.jpg" alt="Mariya's Profile Image" class="profile-image">
      <div class="profile-details">
        <h2>Mariya Shvaya</h2>
        <p>Email: hendrixen2000&#64;gmail.com</p>
      </div>
    </div>
  
    <div class="profile-card">
        <img src="assets/images/alvin.jpg" alt="Alvin's Profile Image" class="profile-image">
        <div class="profile-details">
          <h2>Alvin Eberhardt</h2>
          <p>Email: alvineberhardtiii&#64;gmail.com</p>
        </div>
      </div>
    
    
      <div class="profile-card">
        <img src="assets/images/sean.jpg" alt="Sean's Profile Image" class="profile-image">
        <div class="profile-details">
          <h2>Sean Nance</h2>
          <p>Email: seansbetheltech1985&#64;gmail.com</p>
        </div>
      </div>
    
      <div class="profile-card">
        <img src="assets/images/clint.jpg" alt="Clint's Profile Image" class="profile-image">
        <div class="profile-details">
          <h2>Clint Hanna</h2>
          <p>Email: channafilm&#64;yahoo.com</p>
        </div>
      </div>

  </div>
  