.movie-list {
    list-style-type: none;
  }
  
  .movie-list li {
    display: flex; 
    align-items: center; 
    margin-bottom: 10px; 
  }
  
  .movie-list img {
    margin-right: 10px; 
  }


  .container {
    background-color: #f9f9f9;
    padding: 20px;
    margin: 10px;
  }


  
  h2 {
    font-size: 32px;
    font-style: italic;
    text-align: center;
    color: #f0e8e8;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 20px;
    /* border: 1px solid #f0eaea; */
    padding: 10px;
  
  }
  
  img {
    width: 200px;
    margin-right: 20px;
  }
  
  p {
    font-size: 26px;
    color: #f3efef;
  }
  
  button {
    background-color: #e74c3c;
    color: #fff;
    padding: 10px 24px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #c0392b;
  }

  body {
    min-height: 100vh;
    background-image: url(https://th.bing.com/th/id/R.3dc3e811282c52da807886c9391c39d4?rik=fN85oa3vBZZ3uA&riu=http%3a%2f%2fwallpapercave.com%2fwp%2fouzTHgZ.jpg&ehk=sa8UJDju%2fDCAWkKO%2fjg93TL%2fGI7ecYog5TZS0Ca590o%3d&risl=&pid=ImgRaw&r=0);
    background-size: 100% auto; 
    font-family: Artifika;
    height: auto;
    margin: 0;
    padding: 0;
  }


