
<body>
  <h2>Random Movies</h2>

  <div class="grid">
    <div *ngIf="randomMovies && randomMovies.results && randomMovies.results.length > 0">
      <div *ngFor="let movie of randomMovies.results" class="external-movie-card">
        <img *ngIf="movie.primaryImage" [src]="movie.primaryImage.url" alt="{{ movie.titleText.text }}" width="200">
        <h3>{{ movie.titleText.text }}</h3>
        <button (click)="addToDatabase(movie)">Save Movie</button>
        <button (click)="reviewMovie(movie)">Create Review</button>
        <button (click)="reviewList(movie)">Reviews List</button>
      </div>
    </div>
  </div>

</body>