
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat (4, 1fr);
    gap: 10px
}

h1{

    align-content: center;
    align-items: center;
    justify-content: center;
    font-style: italic;

}

.external {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat (4, 1fr);
    gap: 10px 
}


body{
    min-height: 100vh;
    background: #4a4a4d;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
  }
