
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat (4, 1fr);
    gap: 10px
}

/* .h1{

    align-content: center;
    align-items: center;
    justify-content: center;
} */
.container {
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    height: 100vh; /* Set height to full viewport height */
}


.external {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat (4, 1fr);
    gap: 10px 
}

body{
    min-height: 100vh;
    background: #f4f4f6;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
  }
